$primary-color: #2F2F2F;
$primary-color-light: rgb(88, 88, 88);
$primary-color-extra-light: rgb(151, 151, 151);
$primary-color-dark: rgb(32, 32, 32);
$primary-contrast: #fdfdfd;

$secondary-color: rgb(140, 84, 208);
$secondary-color-light: rgb(163, 118, 217);
$secondary-color-extra-light: rgb(212, 184, 245);
$secondary-color-dark: rgb(98, 58, 145);
$secondary-color-contrast: #FFF;

$error-main: #f44336;
$error-light: #e57373;
$error-dark: #d32f2f;
$error-contrast-text: #FFF;

$warning-main: #ff9800;
$warning-light: #ffb74d;
$warning-dark: #f57c00;
$warning-contrast-text: rgba(0, 0, 0, 0.87);

$info-main: #2196f3;
$info-light: #64b5f6;
$info-dark: #1976d2;
$info-contrast-text: #FFF;

$success-main: #4caf50;
$success-light: #81c784;
$success-dark: #388e3c;
$success-contrast-text: rgba(0, 0, 0, 0.87);

$divider: rgba(0, 0, 0, 0.12);



$karla: 'Karla Variable', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Inter Variable', sans-serif;

    margin: 0;
    background-color: #F5F5F5;
}

h1 {
    font-size: 2.5em;
    letter-spacing: -3%;
}

h2 {
    font-weight: 600;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
}

input {
    outline: none;
    border: none;
}

.bold {
    font-weight: 700;
}

.vh-container {
    min-height: calc(100vh - 80px);

    display: flex;
    flex-direction: column;
}

.container {
    // max-width: 1200px;
    margin: auto;

    .header {
        background-color: $primary-color;
        color: $secondary-color;
        height: 80px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        padding: 0 20px;

        .nav {
            display: flex;
            align-items: center;
            gap: 20px;

            // Burger Menu
            .MuiSvgIcon-root {
                color: $primary-contrast;
                cursor: pointer;
            }

            .navlink {
                color: #FFF;
                text-align: center;
                font-family: $karla;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration: none;
                width: fit-content;

                &:hover

                /*, &.active */
                    {
                    text-decoration: underline;
                }
            }
        }

        .navlink-logo {
            text-align: center;
            width: fit-content;
            justify-self: center;

            .logo {
                display: inline-block;
                color: $primary-contrast;
                text-align: center;
                font-family: $karla;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: -3.84px;
                cursor: pointer;

                transition: all 0.3s;

                &:hover {
                    font-size: 3em;
                }
            }
        }

        .search {
            justify-self: end;

            display: inline-flex;
            align-items: center;

            padding-left: .75em;
            border-radius: 1.5em;

            background-color: $primary-contrast;
            color: $primary-color-light;

            .MuiSvgIcon-root {
                font-size: 1.5em;
            }

            input {
                text-align: center;
                padding: 12px 2.25em 12px 0;
                border-radius: 1.5em;
            }
        }
    }

    .footer {
        background-color: $primary-color;
        color: $secondary-color;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 60px;

        .credit {
            font-weight: 600;
            letter-spacing: -5%;
            color: $primary-color-light;
        }
    }

    .home {
        background-color: $primary-color-light;

        display: flex;
        flex-direction: column;

        .navlink {
            text-decoration: none;
            cursor: url('./assets/carts_cursor.png'), auto;

            &:hover .intro * {
                color: $secondary-color-light;
            }
        }

        section {
            * {
                color: $primary-contrast;
            }
        }

        .intro {
            display: flex;
            flex-direction: column;
            gap: 4em;
            align-items: center;
            justify-content: center;
            font-family: $karla;
            padding-block: 100px;

            * {
                transition: color 1s;
                text-align: center;
            }
        }

        .img-container {
            flex: 1;
            background-color: red;
            background-image: url("./assets/black-friday-elements-assortment.jpg");
            background-size: cover;
            background-position: center center;
            filter: invert(40%) sepia(83%) saturate(120%) hue-rotate(229deg) brightness(83%) contrast(350%);
            min-height: 200px;
            box-shadow: inset 0 0 12px #000000;
        }
    }

    .notFound {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $secondary-color-extra-light;
        background-color: $primary-color-light;
        
        .container {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 3em 5em;
            border-radius: .5em;
            color: $error-contrast-text;
            background: $error-main;

            z-index: 1;
            background-image: linear-gradient(to right, $secondary-color-dark 0%, $secondary-color 80%, $secondary-color-light 100%);

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: -5px;
                bottom: -5px;
                z-index: -1;
                border-radius: .5em;

                background-image: linear-gradient(to right, $secondary-color-dark 0%, $secondary-color 80%, $secondary-color-light 100%);
                filter: blur(5px);
            }

            .message {
                font-weight: 300;
                font-size: 1.1em;
            }
        }
    }

    .error {
        display: flex;
        flex-direction: column;
        text-align: center;

        background-color: $primary-color-light;

        .container {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 3em 5em;
            border-radius: .5em;
            color: $error-contrast-text;
            background: $error-main;

            z-index: 1;
            background-image: linear-gradient(to right, $error-dark 0%, $error-main 80%, $error-light 100%);

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: -5px;
                bottom: -5px;
                z-index: -1;
                border-radius: .5em;

                background-image: linear-gradient(to right, $error-dark 0%, $error-main 80%, $error-light 100%);
                filter: blur(5px);
            }

            .message {
                font-weight: 300;
                font-size: 1.1em;
            }
        }
    }

    .categories {
        padding: 40px 65px;
        min-height: calc(100vh - 80px);

        .intro {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $secondary-color;
            margin-bottom: 65px;
        }

        .categoryItems {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5em;

            .link {}

            .category {
                text-decoration: none;
                background-color: $primary-color;
                color: white;
                box-shadow: 0px 10px 8px -3px rgba(140, 84, 208, 0.3);

                display: flex;
                flex-direction: column;

                border-radius: 25px;
                overflow: hidden;

                .thumbnail-container {
                    overflow: hidden;
                    height: 125px;

                    .thumbnail {
                        object-fit: cover;
                        max-width: 100%;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: .7em 1em;

                    h3 {
                        font-family: $karla;
                        font-size: 1.5em;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.72px;
                    }

                    p {
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    .products {
        padding: 65px 40px;
        display: flex;
        flex-direction: column;
        gap: 2em;
        min-height: calc(100vh - 80px);

        .filters {
            display: flex;
            gap: 3em;

            .filter {
                .filterTitle {
                    position: relative;
                    display: inline-flex;

                    padding-bottom: .7em;

                    align-items: center;
                    color: $primary-color;
                    font-family: $karla;
                    font-size: 1.1em;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    cursor: pointer;
                }

                .filterTitle:hover {
                    text-decoration: underline;

                    &+.filterOptions {
                        display: flex;
                    }
                }

                .filterOptions {
                    z-index: 1;
                    position: absolute;
                    top: auto;
                    display: none;
                    flex-direction: column;
                    gap: .7em;


                    padding: 1.25em 1em;
                    max-width: 450px;
                    background-color: $primary-color;
                    color: $primary-contrast;
                    font-size: 1.05em;
                    font-weight: 500;
                    letter-spacing: -0.25px;
                    line-height: 1.1;

                    border: 2px solid $secondary-color-light;
                    box-shadow: 0 6px 3px -3px rgba(140, 84, 208, 1);
                    border-radius: 1em;

                    &:hover {
                        display: flex;
                    }

                    .clear-filter {
                        color: $primary-color-extra-light;
                    }

                    .options {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1em;

                        .checkboxOption {
                            display: grid;
                            grid-template-columns: 1em auto;
                            gap: .5em;

                            white-space: nowrap;

                            &:focus-within,
                            &:hover {
                                color: $secondary-color-extra-light;
                            }

                            input[type="radio"] {
                                /* Add if not using autoprefixer */
                                -webkit-appearance: none;
                                appearance: none;
                                /* For iOS < 15 to remove gradient background */
                                background-color: none;
                                /* Not removed via appearance */
                                margin: 0;

                                // Unchecked
                                font: inherit;
                                color: currentColor;
                                width: 1.15em;
                                height: 1.15em;
                                border: 0.15em solid currentColor;
                                border-radius: 50%;

                                transform: translateY(-0.075em);

                                // Needs to be like this to style before
                                display: grid;
                                place-content: center;

                                &::before {
                                    content: "";
                                    width: 0.65em;
                                    height: 0.65em;
                                    border-radius: 50%;
                                    transform: scale(0);
                                    transition: 120ms all ease-in-out;
                                    box-shadow: inset 1em 1em $secondary-color-light;

                                    /* Windows High Contrast Mode */
                                    background-color: CanvasText;
                                }

                                &:checked::before {
                                    transform: scale(1);
                                }

                                &:focus,
                                &:hover {
                                    color: $secondary-color-light;
                                    box-shadow: 0px 4px 4px -2px rgba(140, 84, 208, 0.4);
                                }
                            }
                        }
                    }

                    &.not-implemented {
                        &::before {
                            content: "Just a showcase";
                            color: $info-light;
                            text-align: center;
                        }
                    }
                }

                &.active {
                    .filterTitle {
                        color: $secondary-color-dark;
                    }

                    .filterOptions>.clear-filter {
                        color: $secondary-color-light;
                        cursor: pointer;

                        &:hover {
                            color: $secondary-color-extra-light;
                            text-decoration: underline;
                        }
                    }
                }
            }


            .clear-all {
                font-size: 1.05em;
                font-weight: 500;
                color: $secondary-color;
                cursor: pointer;

                &:hover {
                    color: $secondary-color-dark;
                    text-decoration: underline;
                }
            }
        }

        .products-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 60px;

            .product {
                .navlink {
                    text-decoration: none;
                    color: $primary-contrast;
                }

                background-color: $primary-color;
                color: white;
                box-shadow: 0px 10px 8px -3px rgba(140, 84, 208, 0.3);

                display: flex;
                flex-direction: column;

                border-radius: 25px;
                overflow: hidden;

                overflow-wrap: break-word;
                padding-bottom: 1.5em;

                .thumbnail-container {
                    overflow: hidden;
                    height: 225px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .thumbnail {
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;

                    width: 100%;

                    padding: 1em 1em 1.5em 1em;
                    gap: .5em;

                    .title {
                        font-size: 1.75em;
                        font-weight: 300;
                    }

                    .brand {
                        font-weight: 200;
                    }

                    .discount {
                        display: inline-flex;
                        width: fit-content;
                        padding: 4px 12px;
                        align-items: center;

                        margin-top: 1.5em;

                        border-radius: 8px;
                        background: #D32F2F;

                        font-family: $karla;
                        font-size: 1em;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -0.48px;
                    }

                    .pricing {
                        display: flex;
                        align-items: end;
                        gap: 10px;

                        .price {
                            font-size: 1.5em;
                            font-weight: bold;
                            letter-spacing: -5%;
                        }

                        .rrp {
                            color: $primary-color-extra-light;

                            .value {
                                text-decoration: line-through;
                            }
                        }
                    }

                    .stock {
                        font-size: 1.25em;
                        font-weight: 700;
                        margin-top: -.4em;

                        &.in-stock {
                            color: #4CAF50;
                        }

                        &.out-of-stock {
                            color: #D32F2F;
                        }
                    }
                }

                .buy-button {
                    width: fit-content;
                    align-self: center;

                    display: inline-flex;
                    padding: 12px 60px;
                    margin-top: .5em;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    cursor: pointer;

                    border: none;
                    background-color: $secondary-color-light;

                    &:hover {
                        background-color: $secondary-color;
                    }

                    color: $secondary-color-contrast;
                    font-size: 1.1em;
                }
            }
        }

        .pageNavigation {
            align-self: center;
        }
    }

    .product-details {
        padding: 65px 40px;
        display: block;
        margin: auto;
        min-height: calc(100vh - 80px);
        width: fit-content;


        .title {}

        .rating {
            display: flex;
            align-items: center;
            gap: .5em;
            margin-top: .5em;
            margin-bottom: 4em;

            .navlink {
                font-size: 1.1em;
            }
        }

        .navlink {
            text-decoration: none;
            color: #2F2F2F;

            &:hover,
            &.active {
                text-decoration: underline;
            }
        }

        .info {
            margin-top: 2em;
            display: flex;
            align-items: center;
            gap: 1.5em;

            .thumbnails {
                display: flex;
                flex-direction: column;
                height: 500px;
                justify-content: center;
                gap: .7em;

                img {
                    border-radius: .5em;
                    height: 120px;
                    max-width: 120px;
                    object-fit: contain;
                    box-shadow: 4px 4px 4px #2F2F2F33;
                    cursor: pointer;

                    &:hover,
                    &.active {
                        box-shadow: 6px 6px 4px rgba(140, 84, 208, 0.3);
                    }

                    &:hover,
                    &.active {
                        outline: 2px solid rgb(163, 118, 217);
                    }

                    &.active {
                        outline-width: 3px;
                        ;
                    }
                }
            }

            .image-display {
                width: 500px;
                max-height: 500px;
                object-fit: cover;
                border-radius: 1em;
                box-shadow: 6px 6px 6px #2F2F2F33;
            }

            .order {
                display: flex;
                flex-direction: column;
                margin-left: 3em;

                .price {
                    font-size: 5em;
                    font-weight: bold;
                    letter-spacing: -5%;
                }

                .rrp {
                    color: $primary-color-extra-light;

                    .value {
                        font-weight: 300;
                        font-size: 3em;
                        text-decoration: line-through;
                    }

                    .discount {
                        color: white;
                        display: inline-flex;
                        width: fit-content;
                        padding: 4px 12px;
                        align-items: center;
                        margin-left: 1em;

                        border-radius: 8px;
                        background: #D32F2F;

                        font-family: $karla;
                        font-size: 1.7em;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: -0.48px;
                    }
                }

                .stock {
                    font-size: 1.5em;
                    font-weight: 600;
                    margin-top: .25em;

                    &.in-stock {
                        color: #4CAF50;
                    }

                    &.out-of-stock {
                        color: #D32F2F;
                    }
                }

                .delivery {
                    font-size: 1.5em;
                    margin-top: 3em;
                }

                .buy-form {
                    display: flex;
                    gap: .75em;
                    margin-top: .8em;

                    .quantity-container {
                        position: relative;
                        display: inline-flex;
                        padding: 1em 3em 1em 1.75em;
                        background-color: #e8e8e8;
                        border: 1px solid #e8e8e8;
                        border-radius: 50px;
                        vertical-align: bottom;

                        label {

                            text-align: left;
                        }

                        select {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            opacity: 0;
                            z-index: 1;
                            -moz-appearance: none;
                            /* Firefox */
                            -webkit-appearance: none;
                            /* Safari and Chrome */
                            appearance: none;
                            z-index: 1;
                        }

                        .dropdown-icon {
                            position: absolute;
                            right: .7em;
                            top: 30%;
                        }
                    }

                    button {
                        background-color: $primary-color;
                        color: $primary-contrast;
                        height: 50px;
                        flex-grow: 1;
                        border-radius: 25px;
                        border: none;
                        outline: none;
                        font-size: 1.25em;
                        text-align: center;
                        font-weight: 400;
                        cursor: pointer;

                        &:hover {
                            background-color: rgb(140, 84, 208);
                        }
                    }
                }
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 1em;

                .action {
                    display: flex;
                    align-items: center;
                    gap: .5em;
                    cursor: pointer;

                    &:hover {
                        color: rgb(163, 118, 217);
                    }

                    .MuiSvgIcon-root {
                        font-size: 2.5em;
                    }
                }
            }
        }

        .product-nav {
            margin-top: 6em;
            display: flex;
            gap: 2em;
            margin-bottom: 1.5em;

            .navlink {
                font-size: 1.5em;

                &:hover,
                &.active {
                    font-weight: 600;
                }
            }
        }
    }

    .product-rating {
        display: flex;
        align-items: center;

        .MuiSvgIcon-root {
            color: rgb(255, 170, 0);
        }

        .rating-value {
            margin-left: 5px;
            font-size: 1.1em;
            font-weight: bold;
        }
    }
}