$primary-color: #2f2f2f;
$primary-color-light: rgb(88, 88, 88);
$primary-color-extra-light: rgb(151, 151, 151);
$primary-color-super-light: rgb(200, 200, 200);
$primary-color-dark: rgb(32, 32, 32);
$primary-contrast: #fdfdfd;

$secondary-color: rgb(140, 84, 208);
$secondary-color-light: rgb(163, 118, 217);
$secondary-color-extra-light: rgb(212, 184, 245);
$secondary-color-dark: rgb(98, 58, 145);
$secondary-color-contrast: #fff;

$error-main: #f44336;
$error-light: #e57373;
$error-dark: #d32f2f;
$error-contrast-text: #fff;

$warning-main: #ff9800;
$warning-light: #ffb74d;
$warning-dark: #f57c00;
$warning-contrast-text: rgba(0, 0, 0, 0.87);

$info-main: #2196f3;
$info-light: #64b5f6;
$info-dark: #1976d2;
$info-contrast-text: #fff;

$success-main: #4caf50;
$success-light: #81c784;
$success-dark: #388e3c;
$success-contrast-text: rgba(0, 0, 0, 0.87);

$divider: rgba(0, 0, 0, 0.12);

$karla: "Karla Variable", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;

  @media only screen and (max-width: 980px) {
    font-size: 95%;
  }
}

body {
  font-family: "Inter Variable", sans-serif;
  color: $primary-color;
  background-color: $primary-color-extra-light;

  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 0;
  font-size: 2.5rem;
  letter-spacing: -3%;
}

h2 {
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

input {
  outline: none;
  border: none;
}

.btn {
  padding: 0.75em 3.5em;
  border-radius: 1.5em;
  border: none;
  outline: none;
  font-size: 1.25rem;

  text-align: center;
  font-weight: 400;
  cursor: pointer;

  &--primary {
    background-color: $primary-color;
    color: $primary-contrast;

    &:hover {
      background-color: rgb(140, 84, 208);
    }
  }

  &--secondary {
    background-color: $secondary-color-light;
    color: $primary-contrast;

    &:hover {
      background-color: $secondary-color;
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

a.textlink {
  font-size: 1.2rem;

  &:hover {
    text-decoration: underline;
  }
}

.vh-container {
  position: relative;
  min-height: calc(100vh - 5rem);
}

.site-container {
  max-width: 1300px;
  margin: 0 auto;
}

.section--dark {
  background-color: $primary-color-light;
  color: $primary-contrast;
}

.section--light {
  background-color: $primary-contrast;
  color: $primary-color;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
}

.header {
  background-color: $primary-color;
  color: $secondary-color;

  .header__container {
    margin: 0 auto;
    align-items: center;
    height: 5rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1.25em;
  }

  .burger-menu {
    // Burger Menu
    color: $primary-contrast;
    cursor: pointer;
    display: none;

    @media only screen and (max-width: 980px) {
      display: block;
    }
  }

  .nav--primary {
    .nav__link {
      color: #fff;
      text-align: center;
      font-family: $karla;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: none;
      width: fit-content;

      &:hover

                /*, &.active */ {
        text-decoration: underline;
      }
    }

    @media only screen and (max-width: 980px) {
      display: none;
    }
  }

  .nav--secondary {
    justify-content: end;
    gap: 1em;

    .MuiSvgIcon-root {
      font-size: 2.5rem;
      color: white;
    }

    a {
      display: flex;
      height: 70%;
      align-items: center;

      &.btn-cart {
        position: relative;

        .badge {
          top: 0px;
          left: -6px;
          position: absolute;
          text-align: center;
          display: grid;
          place-items: center;
          border-radius: 50%;
          height: 1.5em;
          width: 1.5em;
          background-color: $warning-light;
          color: white;
        }
      }
    }

    a.authenticated {
      border-radius: 50%;
      width: 2.5rem;

      &.btn-account {
        background-color: white;
        display: inline-block;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    @media only screen and (max-width: 980px) {
      a.btn-account {
        display: none;
      }
    }
  }

  .logo {
    display: block;
    text-align: center;

    .logo__title {
      display: inline-block;
      color: $primary-contrast;
      text-align: center;
      font-family: $karla;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: -0.23rem;
      cursor: pointer;
      font-size: 2.5rem;

      transition: all 0.3s;
    }
  }

  // .search {
  //   justify-self: end;

  //   display: inline-flex;
  //   align-items: center;

  //   padding-left: 0.75em;
  //   border-radius: 1.5em;

  //   background-color: $primary-contrast;
  //   color: $primary-color-light;

  //   .MuiSvgIcon-root {
  //     font-size: 1.5rem;
  //   }

  //   input {
  //     text-align: center;
  //     padding: 0.75em 2.25em 0.75em 0;
  //     border-radius: 1.5em;
  //   }
  // }
}

.footer {
  background-color: $primary-color;
  color: $secondary-color;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;

  .credit {
    font-weight: 600;
    letter-spacing: -5%;
    color: $primary-color-light;
  }
}

.home {
  position: relative;
  height: calc(100vh - 80px);

  .home__navlink {
    display: block;
    height: 100%;
  }

  .intro {
    position: relative;
    margin: auto;
    font-family: $karla;
    height: 45%;

    display: grid;
    place-items: center;

    &__container {
      height: 100%;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 12%;
    }

    @media only screen and (max-width: 980px) {
      h2,
      h3 {
        display: none;
      }
    }
  }

  .home__image {
    flex: 1;
    z-index: 1;
    background-color: red;
    background-image: url("./assets/black-friday-elements-assortment.jpg");
    background-size: cover;
    background-position: center center;
    filter: invert(40%) sepia(83%) saturate(120%) hue-rotate(229deg)
      brightness(83%) contrast(350%);
    box-shadow: inset 0 0 12px #000000;
    height: 55%;
  }
}

.notFound {
  display: grid;
  place-items: center;

  .notFound__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    border-radius: 0.5em;
    max-width: 600px;

    // eins vor allen anderen Elementen
    z-index: 1;
    background-image: linear-gradient(
      to right,
      $secondary-color-dark 0%,
      $secondary-color 80%,
      $secondary-color-light 100%
    );

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: -5px;
      bottom: -5px;
      // hinter container
      z-index: -1;
      border-radius: 0.5em;

      background-image: linear-gradient(
        to right,
        $secondary-color-dark 0%,
        $secondary-color 80%,
        $secondary-color-light 100%
      );
      filter: blur(5px); // entspricht blur bei box-shadow
    }

    .notFound__content {
      max-width: 80;
    }
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .error__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 3em 0;
    border-radius: 0.5em;
    max-width: 600px;
    color: $error-contrast-text;

    z-index: 1;
    background-image: linear-gradient(
      to right,
      $error-dark 0%,
      $error-main 80%,
      $error-light 100%
    );

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: -5px;
      bottom: -5px;
      z-index: -1;
      border-radius: 0.5em;

      background-image: linear-gradient(
        to right,
        $error-dark 0%,
        $error-main 80%,
        $error-light 100%
      );
      filter: blur(5px);
    }

    .error_content {
      width: 80%;
    }
  }
}

.login {
  display: grid;
  place-items: center;
}

.login-form {
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 1.25em 0.125em rgba(#fff, 0.1);
  width: 95%;
  max-width: 550px;

  background-color: $primary-color;
  color: $primary-contrast;

  &__content {
    width: 80%;
    margin: 10% auto;

    display: flex;
    flex-direction: column;
  }

  &__headline {
    align-self: center;
  }

  &__message,
  &__error {
    z-index: 1;
    display: grid;
    place-items: center;
    padding: 1em;
    border-radius: 0.25em;
    opacity: 0.8;
  }

  &__message {
    color: $primary-contrast;
    background: $warning-dark;
  }

  &__error {
    color: $error-contrast-text;
    background: $error-main;
    background: $error-main;
  }

  &__inputs {
    display: grid;
    gap: 2em;
    margin-bottom: 0.5em;

    label {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      color: $primary-color-extra-light;

      &:hover,
      &:focus-within {
        color: $secondary-color-extra-light;

        input {
          border-color: $secondary-color-extra-light;
          color: $primary-contrast;
        }
      }

      input {
        position: relative;
        padding: 0.75em 0.75em;
        font-size: 1.1rem;
        width: 100%;
        border-radius: 4px;
        border: 2px solid $primary-color-extra-light;

        color: $primary-color-extra-light;
        background: $primary-color;
      }
    }
  }

  &__btn {
    margin-top: 2em;
    padding: 0.75em;
    background-color: $info-main;
    font-size: 1.025rem;
    color: $info-contrast-text;
    line-height: normal;
    text-align: center;
    cursor: pointer;

    border: none;
    border-radius: 3px;

    &:hover {
      background-color: $info-dark;
    }
  }
}

.account {
  background-color: $primary-contrast;
  .account__container {
    display: flex;
    flex-direction: row;
    gap: 4em;
    padding: 3em 0;
    justify-items: center;

    .sidebar {
      justify-self: start;
      background-color: rgba($primary-color-super-light, 0.5);
      width: 33%;
      padding: 1.5em 0;

      @media only screen and (max-width: 980px) {
        display: none;
      }

      .sidebar__content {
        width: 80%;
        margin: auto;
        h3 {
          font-size: 1.5rem;
          font-weight: 700;
          letter-spacing: -1px;
          margin-bottom: 1em;
        }

        .sidebar__userInfo {
          span:first-child {
            font-weight: 700;
          }

          display: flex;
          flex-direction: column;
          gap: 1em;
          margin-bottom: 3em;
        }
      }

      .navigation {
        display: flex;
        flex-direction: column;
        gap: 2em;
        font-size: 1.1rem;

        h3 {
          font-size: 1.5rem;
        }

        &__navlink {
          color: $primary-color-dark;
          text-decoration: none;
          font-size: 1.1rem;
          font-weight: bold;
        }

        a:hover {
          color: $secondary-color-dark;
          font-weight: bold;
        }

        a.active {
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }

    .account-dashboard {
      color: $primary-color;
      display: flex;
      flex-direction: column;
      gap: 5em;
      align-items: center;
      width: 100%;

      .account-dashboard__content {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 4em;
        width: 100%;

        .profile-picture {
          box-shadow: 0 0 5px rgba($primary-color, 0.5);
          border-radius: 50%;
          overflow: hidden;
          max-width: 350px;

          img {
            width: 100%;
            object-fit: cover;

            background-color: white;
          }
        }

        .account-dashboard__userInfo {
          position: relative;
          border-radius: 0.25em;
          z-index: 1;
          box-shadow: 0 0 10px -2px rgba($primary-contrast, 0.5);
          display: flex;
          flex-direction: column;
          gap: 1.5em;
          width: 100%;
          max-width: 40rem;

          .userInfo-pair {
            color: $primary-color-light;
            display: flex;
            flex-direction: column;
            gap: 0.3em;

            span {
              border: 1px solid $primary-color-light;
              border-radius: 4px;
              padding: 0.5em 0.5em;
            }
          }

          .logout {
            margin-top: 1.5em;
          }
        }
      }
    }
  }
}

.cart {
  padding-block: 4em;
  background-color: $primary-contrast;

  .container {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }
    gap: 5em;
    align-items: center;

    .cart-products {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 2em;

      .cart-product {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 700px) {
          flex-direction: column;
        }
        gap: 2em;
        padding: 2em 0 0 0;
        border-top: 1px solid $primary-color-super-light;
        width: 100%;

        &:first-child {
          border: none;
        }

        .cart-product__thumbnail-container {
          overflow: hidden;

          display: flex;
          align-items: start;
          justify-content: center;
          width: 100%;
          max-width: 300px;

          .cart-product__thumbnail {
            object-fit: contain;
            width: 100%;
          }
        }

        .cart-product__info {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          gap: 0.5em;

          .cart-product__title {
            font-size: 1.75rem;
            font-weight: 500;
          }

          .cart-product__brand {
            font-weight: 200;
          }

          .cart-product__pricing {
            display: flex;
            align-items: end;
            gap: 10px;

            .cart-product__price {
              font-size: 1.25rem;
              font-weight: 400;
              letter-spacing: -5%;
            }

            .cart-product__rrp {
              color: $primary-color-extra-light;

              .cart-product__rrp-value {
                text-decoration: line-through;
              }
            }
          }
        }

        .cart-product__orderDetails {
          display: flex;
          flex-flow: column;
          gap: 0.25em;
          @media only screen and (max-width: 700px) {
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
          }

          .cart-product__delete {
            display: inline;
            font-size: 1.7rem;

            .MuiSvgIcon-root {
              color: $primary-color-light;
              opacity: 0.5;

              &:hover {
                opacity: 1;
                cursor: pointer;
              }
            }
          }

          .cart-product__quantity-container {
            position: relative;
            display: flex;
            padding: 0.5em 2.2em 0.5em 1.5em;
            background-color: #e8e8e8;
            border: 1px solid #e8e8e8;
            border-radius: 3.2em;
            vertical-align: bottom;
            max-width: 4.75em;
            width: 100%;

            select {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              cursor: pointer;
              opacity: 0;
              z-index: 1;
              -moz-appearance: none;
              /* Firefox */
              -webkit-appearance: none;
              /* Safari and Chrome */
              appearance: none;
              z-index: 1;
            }

            .cart-product__dropdown-icon {
              position: absolute;
              right: 0.3em;
              top: 20%;
            }
          }

          .cart-product__total {
            display: block;
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: -5%;
          }
        }
      }
    }

    .cart-summary {
      align-self: flex-start;
      background-color: rgba($primary-color-super-light, 0.5);
      padding: 2em;
      height: fit-content;
      width: 100%;
      max-width: 300px;
      @media screen and (max-width: 1100px) {
        align-self: center;
        max-width: 600px;
      }
      border-radius: 1em;
      text-align: center;

      h2 {
        font-size: 2rem;
        letter-spacing: -1px;
      }

      .cart-summary__rrp {
        margin-top: 1.5em;
        font-size: 1.5rem;
        font-weight: 500;
        color: $primary-color-extra-light;

        span {
          text-decoration: line-through;
        }
      }

      .cart-summary__total {
        font-size: 2.5em;
        font-weight: bold;
      }

      .cart-summary__checkout {
        margin-top: 2em;
      }
    }

    &.emptyCart {
      display: flex;
      text-align: center;
      flex-direction: column;
      gap: 1em;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
    }
  }
}

.categories {
  padding-block: 4em;

  &__intro {
    color: $secondary-color-extra-light;
    margin-bottom: 4em;
    text-align: center;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    justify-content: center;
    gap: 3em;

    .link {
    }

    .category {
      text-decoration: none;
      background-color: $primary-color-super-light;
      color: $primary-color;
      box-shadow: 0px 10px 8px -3px rgba($primary-contrast, 0.3);
      border-radius: 6px;

      display: flex;
      flex-direction: column;
      overflow: hidden;

      &__thumbnail {
        overflow: hidden;
        max-height: 125px;

        img {
          object-fit: cover;
          max-width: 100%;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.7em 1em;

        h3 {
          font-family: $karla;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.72px;
        }

        p {
          margin-top: 8px;
        }
      }
    }
  }
}

.products {
  padding-block: 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .filters {
    display: flex;
    column-gap: 4%;
    row-gap: 4%;
    flex-wrap: wrap;

    .filter {
      .filterTitle {
        position: relative;
        display: inline-flex;

        padding-bottom: 0.7em;

        align-items: center;
        color: $primary-contrast;
        font-family: $karla;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;

        &:active,
        &:hover {
          text-decoration: underline;

          & + .filterOptions {
            display: flex;
          }
        }
      }

      .filterOptions {
        z-index: 1;
        position: absolute;
        top: auto;
        display: none;
        flex-direction: column;
        gap: 0.7em;

        padding: 1.25em 1em;
        max-width: 400px;
        background-color: $primary-color;
        color: $primary-contrast;
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: -0.25px;
        line-height: 1.1;

        border: 2px solid $primary-color-extra-light;
        box-shadow: 0 6px 3px -3px rgba($primary-color-extra-light, 0.7);
        border-radius: 1em;

        &:hover {
          display: flex;
        }

        .clear-filter {
          color: $primary-color-extra-light;
        }

        .options {
          display: grid;
          grid-template-columns: 1fr;
          gap: 1em;

          .checkboxOption {
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;

            white-space: nowrap;

            &:focus-within,
            &:hover {
              color: $secondary-color-extra-light;
            }

            input[type="radio"] {
              /* Add if not using autoprefixer */
              -webkit-appearance: none;
              appearance: none;
              /* For iOS < 15 to remove gradient background */
              background-color: none;
              /* Not removed via appearance */
              margin: 0;

              // Unchecked
              font: inherit;
              color: currentColor;
              width: 1.15em;
              height: 1.15em;
              border: 0.15em solid currentColor;
              border-radius: 50%;

              transform: translateY(-0.075em);

              // Needs to be like this to style before
              display: grid;
              place-content: center;

              &::before {
                content: "";
                width: 0.65em;
                height: 0.65em;
                border-radius: 50%;
                transform: scale(0);
                transition: 120ms all ease-in-out;
                box-shadow: inset 1em 1em $secondary-color-light;

                /* Windows High Contrast Mode */
                background-color: CanvasText;
              }

              &:checked::before {
                transform: scale(1);
              }

              &:focus,
              &:hover {
                color: $secondary-color-light;
                box-shadow: 0px 4px 4px -2px rgba(140, 84, 208, 0.4);
              }
            }
          }
        }

        &.not-implemented {
          &::before {
            content: "Just a showcase";
            color: $info-light;
            text-align: center;
          }
        }
      }

      &.active {
        .filterTitle {
          color: $secondary-color-extra-light;
        }

        .filterOptions > .clear-filter {
          color: $secondary-color-light;
          cursor: pointer;

          &:hover {
            color: $secondary-color-extra-light;
            text-decoration: underline;
          }
        }
      }
    }

    .clear-all {
      font-size: 1.1rem;
      font-weight: 500;
      color: $primary-contrast;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $secondary-color-extra-light;
      }
    }
  }

  .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    justify-content: center;
    gap: 3.75em;

    .product {
      .navlink {
        text-decoration: none;
        color: $primary-contrast;
      }

      background-color: $primary-color;
      color: white;
      box-shadow: 3px 6px 8px -3px rgba($primary-color-extra-light, 0.7);

      display: flex;
      flex-direction: column;

      border-radius: 6px;
      overflow: hidden;

      overflow-wrap: break-word;
      padding-bottom: 1.5em;

      .thumbnail-container {
        overflow: hidden;
        height: 225px;

        display: flex;
        align-items: center;
        justify-content: center;

        .thumbnail {
          object-fit: cover;
          width: 100%;
        }
      }

      .info {
        display: flex;
        flex-direction: column;

        width: 100%;

        padding: 1em 1em 1.5em 1em;
        gap: 0.5em;

        .title {
          font-size: 1.75rem;
          font-weight: 300;
        }

        .brand {
          font-weight: 200;
        }

        .discount {
          display: inline-flex;
          width: fit-content;
          padding: 4px 12px;
          align-items: center;

          margin-top: 1.5em;

          border-radius: 8px;
          background: #d32f2f;

          font-family: $karla;
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.48px;
        }

        .pricing {
          display: flex;
          align-items: end;
          gap: 10px;

          .price {
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: -5%;
          }

          .rrp {
            color: $primary-color-extra-light;

            .value {
              text-decoration: line-through;
            }
          }
        }

        .stock {
          font-size: 1.25rem;
          font-weight: 700;
          margin-top: -0.4em;

          &.in-stock {
            color: #4caf50;
          }

          &.out-of-stock {
            color: #d32f2f;
          }
        }
      }

      button {
        width: fit-content;
        align-self: center;
      }
    }
  }

  .pageNavigation {
    align-self: center;
  }
}

.product-details {
  padding-block: 4em;
  display: grid;

  .rating {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 4em;

    .navlink {
      font-size: 1.1rem;
    }
  }

  .navlink {
    text-decoration: none;
    color: #2f2f2f;

    &:hover,
    &.active {
      text-decoration: underline;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    gap: 2em;

    @media only screen and (max-width: 980px) {
      flex-direction: column;
    }

    .info__image {
      display: flex;
      gap: 1.5em;
      width: 45%;

      @media only screen and (max-width: 980px) {
        flex-direction: column;
        width: 100%;
        justify-items: center;
      }

      .thumbnails {
        display: flex;
        flex-direction: column;
        gap: 0.7em;
        justify-content: center;

        @media only screen and (max-width: 980px) {
          flex-direction: row;
          display: none;
        }

        img {
          align-self: flex-start;
          border-radius: 0.5em;
          object-fit: contain;
          max-width: 120px;
          box-shadow: 4px 4px 4px #2f2f2f33;
          cursor: pointer;

          &:hover,
          &.active {
            box-shadow: 6px 6px 4px rgba(140, 84, 208, 0.3);
          }

          &:hover,
          &.active {
            outline: 2px solid rgb(163, 118, 217);
          }

          &.active {
            outline-width: 3px;
          }
        }
      }

      .image-display {
        align-self: flex-start;
        @media only screen and (max-width: 980px) {
          align-self: center;
          max-width: 100%;
        }
        object-fit: cover;
        border-radius: 1em;
        box-shadow: 6px 6px 6px #2f2f2f33;
      }
    }

    .info__order {
      display: flex;
      flex-direction: column;
      width: 40%;

      @media only screen and (max-width: 980px) {
        width: fit-content;
        justify-self: center;
        align-self: center;
      }

      .price {
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: -5%;
      }

      .rrp {
        color: $primary-color-extra-light;

        .value {
          font-weight: 300;
          font-size: 3rem;
          text-decoration: line-through;
        }

        .discount {
          color: white;
          display: inline-flex;
          width: fit-content;
          padding: 4px 12px;
          align-items: center;
          margin-left: 1em;

          border-radius: 8px;
          background: #d32f2f;

          font-family: $karla;
          font-size: 1.7rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.48px;
        }
      }

      .stock {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 0.25em;

        &.in-stock {
          color: #4caf50;
        }

        &.out-of-stock {
          color: #d32f2f;
        }
      }

      .delivery {
        font-size: 1.5rem;
        margin-top: 3em;
      }

      .buy-form {
        display: flex;
        gap: 0.75em;
        margin-top: 0.8em;

        .quantity-container {
          position: relative;
          display: inline-flex;
          padding: 1em 3em 1em 1.75em;
          background-color: #e8e8e8;
          border: 1px solid #e8e8e8;
          border-radius: 50px;
          vertical-align: bottom;

          label {
            text-align: left;
          }

          select {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: 0;
            z-index: 1;
            -moz-appearance: none;
            /* Firefox */
            -webkit-appearance: none;
            /* Safari and Chrome */
            appearance: none;
            z-index: 1;
          }

          .dropdown-icon {
            position: absolute;
            right: 0.7em;
            top: 30%;
          }
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1em;

      .action {
        display: flex;
        align-items: center;
        gap: 0.5em;
        cursor: pointer;

        &:hover {
          color: rgb(163, 118, 217);
        }

        .MuiSvgIcon-root {
          font-size: 2.5rem;
        }
      }
    }
  }

  .product-nav {
    margin-top: 6em;
    display: flex;
    column-gap: 2em;
    row-gap: 1em;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: 980px) {
      flex-direction: column;
    }

    .navlink {
      font-size: 1.5rem;

      &:hover,
      &.active {
        font-weight: 600;
      }
    }
  }
}

.product-rating {
  display: flex;
  align-items: center;

  .MuiSvgIcon-root {
    color: rgb(255, 170, 0);
  }

  .product-rating__value {
    margin-left: 5px;
    font-size: 1.1rem;
    font-weight: bold;
  }
}
